

.text-container {
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.character-list {
    width: 46%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.character-card {
    background: rgba(165, 77, 77, 0.329);
    width: 45%;
    margin-right: 2%;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
}

.buttons {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 95%;
    padding-left: 2.5%;
    top: 45%;
}

.buttons button {
    font-size: 1.5rem;
    color: rgb(70, 10, 10);
    background: unset;

}